<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnly.provincial.dao.wateruserecords.WaterUseRecordsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hnly.provincial.entity.wateruserecords.WaterUseRecords">
        <id column="id" property="id"/>
        <result column="order_no" property="orderNo"/>
        <result column="farmer_id" property="farmerId"/>
        <result column="device_id" property="deviceId"/>
        <result column="code" property="code"/>
        <result column="year" property="year"/>
        <result column="month" property="month"/>
        <result column="type" property="type"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="use_water" property="useWater"/>
        <result column="use_electricity" property="useElectricity"/>
        <result column="use_money" property="useMoney"/>
        <result column="use_water_first" property="useWaterFirst"/>
        <result column="use_water_second" property="useWaterSecond"/>
        <result column="use_water_third" property="useWaterThird"/>
        <result column="use_money_first" property="useMoneyFirst"/>
        <result column="use_money_second" property="useMoneySecond"/>
        <result column="use_money_third" property="useMoneyThird"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, farmer_id, device_id, code, year, month, type, start_time, end_time, use_water, use_electricity, use_money, use_water_first, use_water_second, use_water_third, use_money_first, use_money_second, use_money_third
    </sql>

    <select id="getMonthSumWater" resultType="java.lang.Object">
        select sum(use_water)
        from t_water_use_records
        where code like concat(#{code}, '%') and year = #{year}
        group by month
        order by month
    </select>

    <select id="getYearSumWater" resultType="java.math.BigDecimal">
        select sum(use_water)
        from t_water_use_records
        where code like concat(#{code}, '%') and year = #{year}
    </select>

    <select id="getUseWater" resultType="java.math.BigDecimal">
        select sum(use_water) as useWater
        from t_water_use_records
        where code like concat(#{code}, '%') and year = #{year}
    </select>

    <select id="findUnit" resultType="com.hnly.provincial.entity.wateruserecords.UseWaterStatisticsVO">
        select name, code
        from t_area
        where status = #{status}
          and code like concat(#{code}, '%')
    </select>

    <select id="getUseWaterLimit" resultType="java.math.BigDecimal">
        select sum(water) as water
        from t_water_quota
        where code like concat(#{code}, '%') and year = #{year}
    </select>

    <select id="findListByPage" resultType="com.hnly.provincial.entity.wateruserecords.WaterUseRecordsVO">
        select d.name as deviceName, f.name as farmerName, wur.*
        from t_water_use_records wur
        left join t_device d on wur.device_id = d.id
        left join t_farmer f on wur.farmer_id = f.id
        <where>
            <if test="code != null and code != ''">
                and wur.code like concat(#{code}, '%')
            </if>
            <if test="farmerName != null and farmerName != ''">
                and f.name like concat(#{farmerName}, '%')
            </if>
            <if test="deviceName != null and deviceName != ''">
                and d.name like concat(#{deviceName}, '%')
            </if>
            <if test="type != null and type != ''">
                and wur.type = #{type}
            </if>
        </where>
        order by wur.id DESC
    </select>

    <select id="findByCode" resultType="com.hnly.provincial.entity.wateruserecords.UseWaterStatisticsVO">
        select id, name, code
        from t_farmer
        where code = #{code}
    </select>

    <select id="getFarmerSumWater" resultType="java.math.BigDecimal">
        select sum(use_water) as useWater
        from t_water_use_records
        where year = #{year} and farmer_id = #{farmerId}
    </select>

    <select id="getFarmerWaterLimit" resultType="com.hnly.provincial.entity.wateruserecords.FindFarmerWaterQuota">
        select first_order_total, second_order_total
        from t_water_right_limit
        where farmer_id = #{farmerId} and year = #{year}
    </select>

    <select id="getTodayUseWater" resultType="java.math.BigDecimal">
        select sum(use_water) from t_water_use_records
        where code like concat(#{code}, '%') and Date(end_time) = #{date};
    </select>
</mapper>
