<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnly.provincial.dao.treatybook.TreatyBookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hnly.provincial.entity.treatybook.TreatyBook">
        <id column="id" property="id" />
        <result column="partyA" property="partya" />
        <result column="partyB" property="partyb" />
        <result column="name" property="name" />
        <result column="manageConent" property="manageconent" />
        <result column="beginTime" property="begintime" />
        <result column="endTime" property="endtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, partyA, partyB, name, manageConent, beginTime, endTime
    </sql>

</mapper>
