<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnly.provincial.dao.shiyong.ShiYongMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hnly.provincial.entity.shiyong.ShiYong">
        <id column="id" property="id" />
        <result column="number" property="number" />
        <result column="area" property="area" />
        <result column="position" property="position" />
        <result column="property_owner" property="propertyOwner" />
        <result column="right_holder" property="rightHolder" />
        <result column="id_number" property="idNumber" />
        <result column="mode" property="mode" />
        <result column="details" property="details" />
        <result column="other" property="other" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, number, area, position, property_owner, right_holder, id_number, mode, details, other
    </sql>

</mapper>
